In [14]:
% matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from sklearn.preprocessing import LabelEncoder
from math import sin, cos, sqrt, atan2, radians

pd.options.display.max_columns = 50

test=pd.read_csv('data/test.csv')
train=pd.read_csv('data/train.csv')
school = pd.read_csv('data/Schools.csv')
subway = pd.read_csv('data/Subways.csv')

train = train.drop_duplicates(train.columns.difference(['key']))
full = pd.concat([train,test],axis=0).reset_index(drop=True)
y=train['transaction_real_price']
full = full.fillna(-999)
full['log_target'] = np.log1p(full['transaction_real_price'])

# School EDA

In [2]:
school.head(20)

,school_code,latitude,longitude,school_class,operation_type,highschool_type,gender,foundation_date,address_by_law
0,S000003511,37.490880,127.015082,elementary,national,NaN,both,1953.1.31,1165010800
1,S000003563,37.577782,127.002915,elementary,national,NaN,both,1946.8.22,1111016800
2,S010000737,37.481366,127.059055,elementary,public,NaN,both,1982.9.20,1168010300
3,S010000738,37.485744,127.058002,elementary,public,NaN,both,1987.11.17,1168010300
4,S010000741,37.480805,127.051891,elementary,public,NaN,both,1983.11.30,1168010300
5,S010000742,37.508423,127.026187,elementary,public,NaN,both,1972.11.23,1168010800
6,S010000743,37.494398,127.065164,elementary,public,NaN,both,1981.9.9,1168010600
7,S010000744,37.492601,127.053554,elementary,public,NaN,both,1979.3.27,1168011800
8,S010000745,37.481135,127.086301,elementary,public,NaN,both,1994.8.5,1168011400
9,S010000746,37.464246,127.105618,elementary,public,NaN,both,1932.11.25,1168011100
10,S010000747,37.496685,127.078042,elementary,public,NaN,both,1992.7.15,1168010300
11,S010000748,37.492833,127.087925,elementary,public,NaN,both,1993.2.27,1168011400
12,S010000749,37.490982,127.062292,elementary,public,NaN,both,1984.5.9,1168010600
13,S010000750,37.503915,127.063710,elementary,public,NaN,both,1984.12.5,1168010600
14,S010000751,37.499061,127.054670,elementary,public,NaN,both,1974.9.1,1168010600
15,S010000752,37.500908,127.049183,elementary,public,NaN,both,1981.6.13,1168010100
16,S010000753,37.510030,127.004054,elementary,public,NaN,both,1981.8.5,1165010600
17,S010000754,37.503158,126.991001,elementary,public,NaN,both,1974.3.20,1165010700
18,S010000755,37.487487,126.987192,elementary,public,NaN,both,1975.9.12,1165010100
19,S010000756,37.485366,126.998102,elementary,public,NaN,both,1984.7.30,1165010100

In [3]:
uniq = school.nunique().reset_index()
uniq.columns = ['col', 'nunique']
uniq

               col  nunique
0      school_code     1921
1         latitude     1921
2        longitude     1921
3     school_class        3
4   operation_type        3
5  highschool_type        4
6           gender        3
7  foundation_date     1141
8   address_by_law      375

In [4]:
pd.value_counts(school['school_class'])

elementary    901
middle        558
high          462
Name: school_class, dtype: int64

In [5]:
pd.value_counts(school['operation_type'])

public      1444
private      466
national      11
Name: operation_type, dtype: int64

In [6]:
pd.value_counts(school['highschool_type'])

general        269
specialized    104
autonomous      55
objective       34
Name: highschool_type, dtype: int64

In [7]:
pd.value_counts(school['gender'])

both      1524
male       199
female     198
Name: gender, dtype: int64

## Subway EDA

In [8]:
display(subway.head())
print(subway.shape)

   station_id   latitude   longitude subway_line  address_by_law
0           1  37.555729  126.972145   1,4,KJ,AP    1.114012e+09
1           2  37.565624  126.976936         1,2    1.114017e+09
2           3  37.570169  126.983099           1    1.111013e+09
3           4  37.571570  126.991895       1,3,5    1.111016e+09
4           5  37.570988  127.001921           1    1.111016e+09

(405, 5)

In [9]:
# figure out the kinds of subway_lines
lines = []
for idx, row in subway.iterrows():
    for line in row['subway_line'].split(','):
        lines.append(line)
display(pd.value_counts(lines).index.sort_values())

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', 'AP', 'B1', 'B2', 'B3',
       'B4', 'BD', 'BK', 'DL', 'KC', 'KJ', 'ND', 'US'],
      dtype='object')

## Feature engineering

In [10]:
'''
Feature engineering for school data
1. Label encoding for categorical data :
  - 'school_class', 'operation_type', 'highschool_type', 'gender'
  
2. Feature generation
  - foundation_data => foundation_year
  - combination of 'school_class' and 'operation_type' => class_operation, and then do label encoding
'''

# label encoding for categorical data
school = school.sort_values(by = ['longitude', 'latitude'])
school['school_code'] = pd.factorize(school['school_code'])[0]
school = school.loc[np.arange(0,school.shape[0]),:]

school['school_class'] = pd.factorize(school['school_class'])[0]
school['operation_type'] = pd.factorize(school['operation_type'])[0]
school['highschool_type'] = pd.factorize(school['highschool_type'])[0]
school['gender'] = pd.factorize(school['gender'])[0]

# feature generation for school data
school['foundation_year'] = school['foundation_date'].map(lambda x : x[0:4])
class_operation = []
for idx, row in school.iterrows():
    class_operation.append(str(row['school_class']) + str(row['operation_type']))
school['class_operation'] = pd.factorize(class_operation)[0]
school.head()

,school_code,latitude,longitude,school_class,operation_type,highschool_type,gender,foundation_date,address_by_law,foundation_year,class_operation
0,682,37.490880,127.015082,0,0,-1,0,1953.1.31,1165010800,1953,0
1,624,37.577782,127.002915,0,0,-1,0,1946.8.22,1111016800,1946,0
2,945,37.481366,127.059055,0,1,-1,0,1982.9.20,1168010300,1982,1
3,934,37.485744,127.058002,0,1,-1,0,1987.11.17,1168010300,1987,1
4,890,37.480805,127.051891,0,1,-1,0,1983.11.30,1168010300,1983,1

In [11]:
# Find the nearest subway station and school for each apartment and calculate its distance.
def earth_distance(lat1, lat2, lon1, lon2):
    R=6373.0
    distance=[0]*len(lat2)
    for i in range(len(lat2)):
        d_lon= lon2[i]- lon1
        d_lat= lat2[i]- lat1 
        a = sin(d_lat / 2)**2 + cos(lat1) * cos(lat2[i]) * sin(d_lon / 2)**2 
        c = 2 * atan2(sqrt(a), sqrt(1 - a)) 
        distance[i] = R * c 
    return distance

In [12]:
meta_apartment = full.drop_duplicates(subset = ['apartment_id']).reset_index(drop = True)
meta_apartment = meta_apartment[['apartment_id', 'latitude', 'longitude', 'address_by_law']]
meta_apartment

      apartment_id   latitude   longitude  address_by_law
0             5584  37.585965  127.000231      1111017100
1             5059  37.580511  127.014016      1111017400
2             2816  37.580324  127.011788      1111017400
3             2815  37.575381  126.960804      1111018700
4             9867  37.559200  127.019503      1114016200
5             2818  37.555060  127.014495      1114016200
6             2817  37.549828  127.009284      1114016200
7             2819  37.558170  127.017896      1114016200
8             4059  37.558116  126.965304      1114017100
9             1470  37.537397  127.097622      1121510300
10              87  37.547082  127.108553      1121510400
11            1459  37.542511  127.097747      1121510400
12            3693  37.544144  127.101528      1121510400
13            1433  37.540622  127.098604      1121510400
14              91  37.542465  127.096294      1121510400
15             513  37.542399  127.102069      1121510400
16            1449  37.540037  127.100097      1121510400
17             512  37.541501  127.103267      1121510400
18             127  37.543021  127.104085      1121510400
19             128  37.544137  127.105218      1121510400
20            4118  37.529479  127.083927      1121510500
21            3967  37.534194  127.070623      1121510500
22            2491  37.534389  127.074220      1121510500
23            2494  37.528578  127.083447      1121510500
24            4116  37.528436  127.085908      1121510500
25            3968  37.532846  127.071658      1121510500
26            5807  37.544508  127.065844      1121510700
27            4210  37.551269  127.072626      1121510900
28            2770  37.535002  126.950593      1117011500
29            2771  37.535672  126.949696      1117011500
...            ...        ...         ...             ...
3888         36955  35.225506  129.226837      2671025028
3889         37459  35.199806  128.999435      2632010500
3890         37469  35.107836  129.014600      2614010400
3891         37447  35.176659  129.047958      2623010700
3892         38438  37.575222  127.057076      1123010500
3893         37300  35.220230  129.089905      2641010900
3894         36938  35.169814  129.100534      2650010100
3895         37298  35.152559  129.020972      2623011100
3896         38448  35.099289  129.023941      2614011200
3897         37176  35.070259  129.070335      2620012100
3898         38423  37.571529  127.047610      1123010500
3899         36912  37.528908  126.902773      1156011400
3900         38422  35.204491  129.061783      2626010800
3901         37357  35.323742  129.188950      2671025621
3902         37470  37.515390  127.051143      1168010500
3903         38419  37.576927  127.049400      1123010400
3904         36881  35.133605  129.058840      2617010400
3905         37467  37.488107  126.973021      1159010700
3906         26553  35.146249  129.008208      2653010600
3907         37086  35.174505  129.090579      2647010200
3908         22247  37.554659  126.746463      2824510900
3909         37354  37.554646  127.022766      1120010900
3910         37180  37.517017  126.887009      1156012300
3911         33373  37.506190  126.834660      1147010100
3912         37431  37.639865  126.919788      1138011400
3913         36224  37.474976  127.142807      1171010900
3914         36841  37.571644  126.961380      1111018000
3915         37353  37.505534  127.139817      1171011200
3916         38465  35.196796  129.063812      2626010900
3917         37297  35.090496  129.003113      2638010800

[3918 rows x 4 columns]

In [18]:
# figure out the kinds of subway_lines
lines = []
for idx, row in subway.iterrows():
    for line in row['subway_line'].split(','):
        lines.append(line)
display(pd.value_counts(lines).index.sort_values())

subway = subway.sort_values(by = ['longitude', 'latitude'])
subway['station_id'] = pd.factorize(subway['station_id'])[0]
subway = subway.loc[np.arange(0,subway.shape[0]),:]

dic = {}
for line in pd.value_counts(lines).index.sort_values():
    dic[line] = [0] * subway.shape[0]

for idx, row in subway.iterrows():
    for line in row['subway_line'].split(','):
        dic[line][idx] = 1 

subway = pd.concat([subway, pd.DataFrame(dic)], axis = 1)
subway.head()

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', 'AP', 'B1', 'B2', 'B3',
       'B4', 'BD', 'BK', 'DL', 'KC', 'KJ', 'ND', 'US'],
      dtype='object')

,station_id,latitude,longitude,subway_line,address_by_law,1,2,3,4,5,6,7,8,9,AP,B1,B2,B3,B4,BD,BK,DL,KC,KJ,ND,US
0,105,37.555729,126.972145,"1,4,KJ,AP",1.114012e+09,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
1,110,37.565624,126.976936,"1,2",1.114017e+09,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,116,37.570169,126.983099,1,1.111013e+09,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,124,37.571570,126.991895,"1,3,5",1.111016e+09,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,133,37.570988,127.001921,1,1.111016e+09,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
## It takes long time. 
dic = {'min_school' : [], 'min_school_dist' : [],
       'min_subway' : [], 'min_subway_dist' : []}

now = datetime.now()
for apt_id, row in meta_apartment.iterrows():
    sch_dist = earth_distance(row['latitude'], school['latitude'],
                              row['longitude'], school['longitude'])
    sub_dist = earth_distance(row['latitude'], subway['latitude'],
                              row['longitude'], subway['longitude'])
    
    dic['min_school'].append(school.loc[np.argmin(sch_dist), 'school_code']) 
    dic['min_school_dist'].append(np.min(sch_dist))
    
    dic['min_subway'].append(subway.loc[np.argmin(sub_dist), 'station_id']) 
    dic['min_subway_dist'].append(np.min(sub_dist))
    
print(datetime.now() - now)

0:03:49.587679

In [30]:
meta_apartment = pd.concat([meta_apartment, pd.DataFrame(dic)], axis = 1)
meta_apartment.head()

,apartment_id,latitude,longitude,address_by_law,min_school,min_school_dist,min_subway,min_subway_dist
0,5584,37.585965,127.000231,1111017100,S010002342,14.901992,102,24.882336
1,5059,37.580511,127.014016,1111017400,S010002378,6.109126,381,8.067028
2,2816,37.580324,127.011788,1111017400,S010000644,8.018905,381,21.581305
3,2815,37.575381,126.960804,1111018700,S010002376,8.679184,67,19.187394
4,9867,37.559200,127.019503,1114016200,S010002337,7.314980,343,31.254636

In [31]:
meta_apartment = meta_apartment[['apartment_id', 'min_school', 'min_school_dist', 'min_subway', 'min_subway_dist']]
meta_apartment

      apartment_id  min_school  min_school_dist  min_subway  min_subway_dist
0             5584  S010002342        14.901992         102        24.882336
1             5059  S010002378         6.109126         381         8.067028
2             2816  S010000644         8.018905         381        21.581305
3             2815  S010002376         8.679184          67        19.187394
4             9867  S010002337         7.314980         343        31.254636
5             2818  S010002366        17.421649          72        22.380676
6             2817  S010000585        16.374770         380        19.536708
7             2819  S010000633         9.748838         342        28.495923
8             4059  S010000604        11.079480          52        16.746889
9             1470  S010002167        30.147418          23        23.169867
10              87  S010002147        44.890023         350        33.987474
11            1459  S010005241        11.606548         350        40.080490
12            3693  S010002147        18.491145         350        14.118905
13            1433  S010002167        14.717254          23        41.978602
14              91  S010005241        17.072775          23        46.411474
15             513  S010000391         7.126693         350        19.867618
16            1449  S010002167         7.239473         350        39.157227
17             512  S010000391         7.841325         350        23.435050
18             127  S010000391        16.981976         350        14.156652
19             128  S010000391        27.039550         350        12.579376
20            4118  S010000395        10.932319          22        50.789325
21            3967  S010002181         9.702916         404        28.580587
22            2491  S010002160         5.587820          21        41.580345
23            2494  S010000395        14.555890          22        57.151631
24            4116  S010000395         5.554927          22        55.522250
25            3968  S010002176        12.528920         404        31.103260
26            5807  S010002179        16.329980          21        42.290183
27            4210  S010002191         7.578275         403        24.268679
28            2770  S010002388         8.856573         338        41.476964
29            2771  S010002388        11.522782         338        34.475801
...            ...         ...              ...         ...              ...
3888         36955  S020001651         3.738785        1156       118.220818
3889         37459  S020000475        18.260267         657        18.848525
3890         37469  S020001465        28.071922         600        23.446177
3891         37447  S020001030         7.267897        1146       100.968401
3892         38438  S010001422        17.625183         346        61.293455
3893         37300  S020000776        14.483655         619        17.749395
3894         36938  S020001667        19.661130         669        35.009427
3895         37298  S020000993        11.830679         648         4.860270
3896         38448  S020001492        13.998127         602        17.228890
3897         37176  S020001445         5.398540         603       263.776258
3898         38423  S010001375        26.495629          54        11.970269
3899         36912  S010001210        27.399572          46        32.063629
3900         38422  S020000812        10.689658         674        35.465296
3901         37357  S020000972        10.512251        1157       415.010634
3902         37470  S010000727        27.308076        1031        20.381803
3903         38419  S010001368        23.228564           9        38.162159
3904         36881  S020000644         9.016651         608        24.019045
3905         37467  S010005387        12.991588         410        24.609818
3906         26553  S020001260        14.532456         649        37.905890
3907         37086  S020001907        18.648415         669        26.580261
3908         22247  S010000389       384.037650         325       349.279190
3909         37354  S010006381        11.066189         343        12.451390
3910         37180  S010005254        17.505295          55        31.667430
3911         33373  S010000635        31.599327         249        97.875404
3912         37431  S010005557        17.252953          61        22.258730
3913         36224  S010006041        25.754583         131       104.180216
3914         36841  S010002339         9.633421          67        28.277341
3915         37353  S010000904         7.360175         361        57.074978
3916         38465  S020001034        29.594321         673        13.992223
3917         37297  S020000492         8.854801         598        82.478608

[3918 rows x 5 columns]

In [32]:
meta_apartment = pd.merge(left = meta_apartment, right = school, left_on = 'min_school', right_on = 'school_code', how = 'left')
meta_apartment = pd.merge(left = meta_apartment, right = subway, left_on = 'min_subway', right_on = 'station_id', how = 'left')

In [35]:
meta_apartment

,apartment_id,min_school,min_school_dist,min_subway,min_subway_dist,school_code,latitude_x,longitude_x,school_class,operation_type,highschool_type,gender,foundation_date,address_by_law_x,foundation_year,class_operation,station_id,latitude_y,longitude_y,subway_line,address_by_law_y,1,2,3,4,5,6,7,8,9,AP,B1,B2,B3,B4,BD,BK,DL,KC,KJ,ND,US
0,5584,S010002342,14.901992,102,24.882336,S010002342,37.585657,127.002564,1,2,-1,1,1907.9.8,1111016900,1907,4,102,37.582418,127.001873,4,1.111017e+09,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,5059,S010002378,6.109126,381,8.067028,S010002378,37.581469,127.013964,0,1,-1,0,1971.10.6,1111017400,1971,1,381,37.580002,127.015182,6,1.111017e+09,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2816,S010000644,8.018905,381,21.581305,S010000644,37.579517,127.012760,2,2,2,2,1966.12.8,1111017400,1966,6,381,37.580002,127.015182,6,1.111017e+09,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2815,S010002376,8.679184,67,19.187394,S010002376,37.574137,126.960247,0,1,-1,0,1957.9.28,1111018700,1957,1,67,37.574453,126.957918,3,1.141011e+09,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,9867,S010002337,7.314980,343,31.254636,S010002337,37.558278,127.020193,1,1,-1,2,1968.8.6,1114016200,1968,3,343,37.554467,127.020800,5,1.120011e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,2818,S010002366,17.421649,72,22.380676,S010002366,37.555760,127.017165,0,2,-1,0,1966.3.10,1114016200,1966,2,72,37.554443,127.011002,"3,6",1.114016e+09,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,2817,S010000585,16.374770,380,19.536708,S010000585,37.547641,127.010649,2,1,2,0,1991.10.30,1120011300,1991,7,380,37.547966,127.006821,6,1.114016e+09,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,2819,S010000633,9.748838,342,28.495923,S010000633,37.556701,127.017465,2,2,2,0,1956.2.28,1114016200,1956,6,342,37.560205,127.013875,"5,6",NaN,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,4059,S010000604,11.079480,52,16.746889,S010000604,37.557162,126.966773,2,2,2,2,1992.12.29,1114017300,1992,6,52,37.559730,126.963210,"2,5",1.141010e+09,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,1470,S010002167,30.147418,23,23.169867,S010002167,37.540815,127.100935,0,1,-1,0,1990.1.20,1121510400,1990,1,23,37.535389,127.094551,2,1.121510e+09,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,87,S010002147,44.890023,350,33.987474,S010002147,37.547044,127.101427,1,1,-1,0,1982.12.9,1121510400,1982,3,350,37.545170,127.103516,5,1.121510e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,1459,S010005241,11.606548,350,40.080490,S010005241,37.544240,127.098325,0,1,-1,0,2005.3.1,1121510400,2005,1,350,37.545170,127.103516,5,1.121510e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,3693,S010002147,18.491145,350,14.118905,S010002147,37.547044,127.101427,1,1,-1,0,1982.12.9,1121510400,1982,3,350,37.545170,127.103516,5,1.121510e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,1433,S010002167,14.717254,23,41.978602,S010002167,37.540815,127.100935,0,1,-1,0,1990.1.20,1121510400,1990,1,23,37.535389,127.094551,2,1.121510e+09,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,91,S010005241,17.072775,23,46.411474,S010005241,37.544240,127.098325,0,1,-1,0,2005.3.1,1121510400,2005,1,23,37.535389,127.094551,2,1.121510e+09,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,513,S010000391,7.126693,350,19.867618,S010000391,37.541281,127.102041,2,1,0,0,1986.1.25,1121510400,1986,7,350,37.545170,127.103516,5,1.121510e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,1449,S010002167,7.239473,350,39.157227,S010002167,37.540815,127.100935,0,1,-1,0,1990.1.20,1121510400,1990,1,350,37.545170,127.103516,5,1.121510e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,512,S010000391,7.841325,350,23.435050,S010000391,37.541281,127.102041,2,1,0,0,1986.1.25,1121510400,1986,7,350,37.545170,127.103516,5,1.121510e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,127,S010000391,16.981976,350,14.156652,S010000391,37.541281,127.102041,2,1,0,0,1986.1.25,1121510400,1986,7,350,37.545170,127.103516,5,1.121510e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,128,S010000391,27.039550,350,12.579376,S010000391,37.541281,127.102041,2,1,0,0,1986.1.25,1121510400,1986,7,350,37.545170,127.103516,5,1.121510e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,4118,S010000395,10.932319,22,50.789325,S010000395,37.529271,127.085655,2,1,1,0,1986.12.15,1121510500,1986,7,22,37.537145,127.086135,2,1.121510e+09,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,3967,S010002181,9.702916,404,28.580587,S010002181,37.534624,127.069142,0,1,-1,0,1979.4.11,1121510500,1979,1,404,37.531692,127.066849,7,1.121510e+09,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,2491,S010002160,5.587820,21,41.580345,S010002160,37.535228,127.074478,1,1,-1,0,1984.3.1,1121510500,1984,3,21,37.539896,127.070674,"2,7",1.121510e+09,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,2494,S010000395,14.555890,22,57.151631,S010000395,37.529271,127.085655,2,1,1,0,1986.12.15,1121510500,1986,7,22,37.537145,127.086135,2,1.121510e+09,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,4116,S010000395,5.554927,22,55.522250,S010000395,37.529271,127.085655,2,1,1,0,1986.12.15,1121510500,1986,7,22,37.537145,127.086135,2,1.121510e+09,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,3968,S010002176,12.528920,404,31.103260,S010002176,37.534589,127.072580,0,1,-1,0,1984.12.5,1121510500,1984,1,404,37.531692,127.066849,7,1.121510e+09,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,5807,S010002179,16.329980,21,42.290183,S010002179,37.544336,127.063256,0,1,-1,0,1972.9.1,1120011500,1972,1,21,37.539896,127.070674,"2,7",1.121510e+09,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,4210,S010002191,7.578275,403,24.268679,S010002191,37.550187,127.072127,0,1,-1,0,1955.3.19,1121510900,1955,1,403,37.548003,127.074607,7,1.121510e+09,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,2770,S010002388,8.856573,338,41.476964,S010002388,37.536080,126.951481,0,1,-1,0,1983.5.11,1117011500,1983,1,338,37.539566,126.945892,5,1.144010e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,2771,S010002388,11.522782,338,34.475801,S010002388,37.536080,126.951481,0,1,-1,0,1983.5.11,1117011500,1983,1,338,37.539566,126.945892,5,1.144010e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3888,36955,S020001651,3.738785,1156,118.220818,S020001651,35.224931,129.226985,0,1,-1,0,1963.3.2,2671025028,1963,1,1156,35.242882,129.218506,BD,2.671025e+09,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3889,37459,S020000475,18.260267,657,18.848525,S020000475,35.197070,128.998375,2,1,0,0,1955.7.1,2632010500,1955,7,657,35.202763,128.999535,B2,2.632010e+09,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3890,37469,S020001465,28.071922,600,23.446177,S020001465,35.106389,129.019479,0,1,-1,0,1921.10.15,2614010800,1921,1,600,35.110444,129.017647,B1,2.614010e+09,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3891,37447,S020001030,7.267897,1146,100.968401,S020001030,35.176881,129.046585,0,1,-1,0,1983.3.1,2623010700,1983,1,1146,35.164757,129.060745,BD,2.623010e+09,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3892,38438,S010001422,17.625183,346,61.293455,S010001422,37.574418,127.054409,0,1,-1,0,1942.4.8,1123010400,1942,1,346,37.566429,127.053146,5,1.120012e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3893,37300,S020000776,14.483655,619,17.749395,S020000776,35.218653,129.091979,1,1,-1,1,1981.12.28,2641010900,1981,3,619,35.220257,129.086372,B1,2.626011e+09,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3894,36938,S020001667,19.661130,669,35.009427,S020001667,35.168351,129.103852,0,1,-1,0,1979.12.29,2650010100,1979,1,669,35.173487,129.095536,B3,2.647010e+09,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3895,37298,S020000993,11.830679,648,4.860270,S020000993,35.154207,129.019940,0,1,-1,0,1967.4.24,2623011100,1967,1,648,35.153233,129.020541,B2,2.623011e+09,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3896,38448,S020001492,13.998127,602,17.228890,S020001492,35.099036,129.021395,0,1,-1,0,1915.1.1,2614011300,1915,1,602,35.097105,129.025800,B1,2.611014e+09,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3897,37176,S020001445,5.398540,603,263.776258,S020001445,35.069783,129.069531,1,2,-1,0,1946.4.8,2620012100,1946,4,603,35.097876,129.034673,B1,2.611014e+09,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3898,38423,S010001375,26.495629,54,11.970269,S010001375,37.573783,127.044089,1,1,-1,0,1974.12.27,1123010500,1974,3,54,37.570059,127.046431,2,1.120012e+09,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3899,36912,S010001210,27.399572,46,32.063629,S010001210,37.531706,126.899461,0,1,-1,0,1984.7.30,1156011500,1984,1,46,37.533875,126.901960,"2,9",1.156012e+09,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3900,38422,S020000812,10.689658,674,35.465296,S020000812,35.203410,129.060176,0,1,-1,0,1985.3.1,2626010800,1985,1,674,35.206137,129.068449,"B3,B4",2.626011e+09,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
3901,37357,S020000972,10.512251,1157,415.010634,S020000972,35.322311,129.187810,1,1,-1,0,1960.4.15,2671025621,1960,3,1157,35.267380,129.233063,BD,2.671031e+09,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3902,37470,S010000727,27.308076,1031,20.381803,S010000727,37.514406,127.046901,1,1,-1,0,1980.12.27,1168010500,1980,3,1031,37.513038,127.053347,9,1.168010e+09,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3903,38419,S010001368,23.228564,9,38.162159,S010001368,37.574433,127.052079,1,1,-1,0,1963.1.23,1123010400,1963,3,9,37.580166,127.044327,"1,KJ,KC",1.123011e+09,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
3904,36881,S020000644,9.016651,608,24.019045,S020000644,35.134974,129.058416,0,1,-1,0,1946.4.7,2617010400,1946,1,608,35.134369,129.054438,B1,2.617010e+09,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3905,37467,S010005387,12.991588,410,24.609818,S010005387,37.488235,126.975102,0,1,-1,0,2007.9.1,1159010700,2007,1,410,37.484652,126.971257,7,1.159011e+09,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3906,26553,S020001260,14.532456,649,37.905890,S020001260,35.146841,129.005560,0,1,-1,0,1979.12.31,2653010600,1979,1,649,35.151246,129.012093,B2,2.653011e+09,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3907,37086,S020001907,18.648415,669,26.580261,S020001907,35.177347,129.091437,2,1,1,0,2005.10.15,2647010200,2005,7,669,35.173487,129.095536,B3,2.647010e+09,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3908,22247,S010000389,384.037650,325,349.279190,S010000389,37.568595,126.805649,2,1,0,0,1982.11.30,1150010900,1982,7,325,37.561965,126.801323,"5,9,AP",1.150011e+09,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
3909,37354,S010006381,11.066189,343,12.451390,S010006381,37.553325,127.023906,2,1,0,0,2017.3.1,1120010900,2017,7,343,37.554467,127.020800,5,1.120011e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3910,37180,S010005254,17.505295,55,31.667430,S010005254,37.519682,126.887687,0,1,-1,0,2005.1.5,1156012400,2005,1,55,37.514273,126.882796,2,1.153010e+09,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3911,33373,S010000635,31.599327,249,97.875404,S010000635,37.511120,126.835205,2,2,2,2,1980.9.26,1129000000,1980,6,249,37.494401,126.844700,1,1.153011e+09,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3912,37431,S010005557,17.252953,61,22.258730,S010005557,37.642493,126.919140,0,1,-1,0,2011.1.13,1138011400,2011,1,61,37.636505,126.918831,3,1.138011e+09,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3913,36224,S010006041,25.754583,131,104.180216,S010006041,37.477695,127.139741,1,1,-1,0,2014.3.1,1171010900,2014,3,131,37.470554,127.126657,"8,DL",1.171011e+09,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3914,36841,S010002339,9.633421,67,28.277341,S010002339,37.573109,126.961753,1,2,-1,1,1938.4.5,1111018100,1938,4,67,37.574453,126.957918,3,1.141011e+09,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3915,37353,S010000904,7.360175,361,57.074978,S010000904,37.505084,127.140901,0,1,-1,0,1967.9.15,1171011200,1967,1,361,37.498070,127.134770,5,1.171011e+09,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3916,38465,S020001034,29.594321,673,13.992223,S020001034,35.192372,129.065565,0,1,-1,0,1964.6.1,2647010100,1964,1,673,35.198672,129.065235,B3,2.626011e+09,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3917,37297,S020000492,8.854801,598,82.478608,S020000492,35.090941,129.001584,2,2,2,0,1992.6.30,2638010800,1992,6,598,35.103149,128.999944,B1,2.638010e+09,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0